In [228]:
# 1vs1 match functions
def winner_civ(player, dict_civ):
    if player[0]['won'] == True:
        return dict_civ[player[0]['civ']] 
    else:
        return dict_civ[player[1]['civ']]

def loser_civ(player, dict_civ):
    if player[0]['won'] == False:
        return dict_civ[player[0]['civ']] 
    else:
        return dict_civ[player[1]['civ']]

def get_average_rating (rat1, rat2):
    if rat1 == None or rat2 == None:
        if rat1 != None:
            return rat1
        if rat2 != None:
            return rat2
        
        return None
    else:
        return (rat1 + rat2)/2

# team match functions
def get_winner_team_number(players):
    for player in players:
        if player['won'] == True:
            return player['team']

def winner_civ_team(players, dict_civ, position):
    list_pos=[]
    for player in players:
        if player['won'] == True:
            t = (player['color'], player['civ'])
            list_pos.append(t)
    
    list_pos.sort()
    if position > len(list_pos):
        return None
    else:
        return dict_civ[list_pos[position - 1][1]]

def loser_civ_team(players, dict_civ, position):
    list_pos=[]
    winner_number=get_winner_team_number(players)
    for player in players:
        if player['won'] == False:
            if player['team'] != winner_number:
                t = (player['color'], player['civ'])
                list_pos.append(t)
    
    list_pos.sort()
    if position > len(list_pos):
        return None
    else:
        return dict_civ[list_pos[position - 1][1]]

def get_average_rating_team(players):
    rat_sum=0
    divider=0
    num_players=len(players)
    for player in players:
        if player['rating'] != None:
            rat_sum += player['rating']
            divider += 1
            
    if (divider < (num_players/2)):
        return None
    else:
        return (rat_sum/divider)

In [229]:
has_relevant_water = {
            "Arabia": False,
            "Archipelago": True,
            "Baltic": True,
            "Black Forest": False,
            "Coastal": True,
            "Continental": True,
            "Crater Lake": True,
            "Fortress": False,
            "Gold Rush": False,
            "Highland": True,
            "Islands": False,
            "Mediterranean": False,
            "Migration": False,
            "Rivers": False,
            "Team Islands": False,
            "Full Random": True,
            "Scandinavia": True,
            "Mongolia": False,
            "Yucatan": False,
            "Salt Marsh": True,
            "Arena": False,
            "Oasis": True,
            "Ghost Lake": False,
            "Nomad": True,
            "Iberia": True,
            "Britain": True,
            "Mideast": True,
            "Texas": True,
            "Italy": True,
            "Central America": True,
            "France": True,
            "Norse Lands": True,
            "Sea of Japan (East Sea)": True,
            "Byzantium": True,
            "Custom": True,
            "Random Land Map": False,
            "Random Real World Map": True,
            "Blind Random": True,
            "Random Special Map": True,
            "Acropolis": False,
            "Budapest": True,
            "Cenotes": True,
            "City of Lakes": True,
            "Golden Pit": False,
            "Hideout": False,
            "Hill Fort": False,
            "Lombardia": False,
            "Steppe": False,
            "Valley": False,
            "MegaRandom": True,
            "Hamburger": True,
            "CtR Random": True,
            "CtR Monsoon": False,
            "CtR Pyramid Descent": False,
            "CtR Spiral": False,
            "Kilimanjaro": False,
            "Mountain Pass": False,
            "Nile Delta": True,
            "Serengeti": False,
            "Socotra": False,
            "Amazon": True,
            "China": True,
            "Horn of Africa": True,
            "India": True,
            "Madagascar": True,
            "West Africa": True,
            "Bohemia": False,
            "Earth": True,
            "Canyons": False,
            "Enemy Archipelago": True,
            "Enemy Islands": True,
            "Far Out": False,
            "Front Line": False,
            "Inner Circle": False,
            "Motherland": True,
            "Open Plains": False,
            "Ring of Water": True,
            "Snakepit": True,
            "The Eye": True,
            "Australia": True,
            "Indochina": True,
            "Indonesia": True,
            "Strait of Malacca": True,
            "Philippines": True,
            "Bog Islands": True,
            "Mangrove Jungle": True,
            "Pacific Islands": True,
            "Sandbank": False,
            "Water Nomad": True,
            "Jungle Islands": True,
            "Holy Line": False,
            "Border Stones": False,
            "Yin Yang": True,
            "Jungle Lanes": False,
            "Alpine Lakes": False,
            "Bogland": False,
            "Mountain Ridge": False,
            "Ravines": False,
            "Wolf Hill": False,
            "Antarctica": True,
            "Custom Map Pool": True,
            "Golden Swamp": True,
            "Four Lakes": True,
            "Land Nomad": False
            }

url="https://aoe2.net/api/strings?game=aoe2de&language=en"
req=requests.get(url)
dict_file=json.loads(req.content)

civ_dict={}
for civ in dict_file['civ']:
    civ_dict[civ['id']]=civ['string']

map_dict={}
for map_t in dict_file['map_type']:
    map_dict[map_t['id']]=map_t['string']

In [250]:
import pandas
import json
from IPython.display import display
import requests

df=pandas.read_json('matches_dataset_filtered.json', dtype={'match_id': int, 'match_uuid': 'string', 'num_players': int,
                                                        'map_size': int, 'map_type' : int, 'rating_type': int,
                                                        'visibility' : int, 'players' : [dict]})
pandas.options.display.max_columns = None

In [251]:
df['has_relevant_water']=[has_relevant_water[map_dict[value]] for value in df['map_type']]

In [252]:
df_x1=df[df['rating_type'] == 2]
df_team=df[df['rating_type'] == 4]

df_x1=df_x1.drop('rating_type', 1)
df_team=df_team.drop('rating_type', 1)

In [253]:
df_x1['wCiv']=[winner_civ(player, civ_dict) for player in df_x1['players']]

df_x1['lCiv']=[loser_civ(player, civ_dict) for player in df_x1['players']]

df_x1['average_rating']=[get_average_rating(player[0]['rating'], player[1]['rating']) for player in df_x1['players']]

In [254]:
df_team['wCiv1']=[winner_civ_team(player, civ_dict, 1) for player in df_team['players']]
df_team['wCiv2']=[winner_civ_team(player, civ_dict, 2) for player in df_team['players']]
df_team['wCiv3']=[winner_civ_team(player, civ_dict, 3) for player in df_team['players']]
df_team['wCiv4']=[winner_civ_team(player, civ_dict, 4) for player in df_team['players']]

df_team['lCiv1']=[loser_civ_team(player, civ_dict, 1) for player in df_team['players']]
df_team['lCiv2']=[loser_civ_team(player, civ_dict, 2) for player in df_team['players']]
df_team['lCiv3']=[loser_civ_team(player, civ_dict, 3) for player in df_team['players']]
df_team['lCiv4']=[loser_civ_team(player, civ_dict, 4) for player in df_team['players']]

df_team['average_rating']=[get_average_rating_team(players) for players in df_team['players']]

In [255]:
df_team=df_team.drop('map_size', 1)
df_team

,map_type,match_id,match_uuid,num_players,players,visibility,duration,has_relevant_water,wCiv1,wCiv2,wCiv3,wCiv4,lCiv1,lCiv2,lCiv3,lCiv4,average_rating
3,125,40745193,30c01441-cba8-584f-8585-777eea38d6fd,4,"[{'civ': 10, 'clan': None, 'color': 2, 'countr...",0,58.133333,False,Franks,Huns,None,None,Franks,Khmer,None,None,1439.500
5,9,40745180,0a591dc0-7ab5-8b45-9da9-87d287fa4827,4,"[{'civ': 9, 'clan': None, 'color': 2, 'country...",0,28.466667,False,Franks,Mayans,None,None,Ethiopians,Franks,None,None,1494.000
6,9,40745166,a8c826b9-a658-ed4f-a1cd-58cd8a261506,6,"[{'civ': 8, 'clan': None, 'color': 2, 'country...",0,33.700000,False,Ethiopians,Indians,Franks,None,Cumans,Slavs,Huns,None,1472.500
7,19,40745162,2fde7cf3-239b-de41-8d1f-9a623444ccd2,6,"[{'civ': 21, 'clan': None, 'color': 6, 'countr...",0,37.583333,False,Italians,Malians,Persians,None,Koreans,Vikings,Malay,None,NaN
22,71,40745240,69965a43-38dc-ad48-935f-9bbbadac46cb,4,"[{'civ': 23, 'clan': None, 'color': 4, 'countr...",0,22.733333,False,Franks,Lithuanians,None,None,Celts,Mayans,None,None,2184.500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59970,74,42259053,1d0f3d91-4c45-4649-95df-651136619255,4,"[{'civ': 11, 'clan': None, 'color': 2, 'countr...",0,49.716667,False,Franks,Huns,None,None,Goths,Ethiopians,None,None,1063.250
59974,9,42259180,af4c92b1-9321-2e4a-8c13-cf825c7a6108,4,"[{'civ': 34, 'clan': None, 'color': 2, 'countr...",0,29.816667,False,Slavs,Vietnamese,None,None,Vikings,Franks,None,None,1153.000
59980,9,42259099,c22467be-c624-e349-9779-549f77848fdc,8,"[{'civ': 29, 'clan': None, 'color': 4, 'countr...",0,38.216667,False,Saracens,Lithuanians,Aztecs,Franks,Khmer,Spanish,Japanese,Mongols,1624.000
59990,29,42259160,711b0658-7607-7f4f-8155-dbcc7075d238,8,"[{'civ': 20, 'clan': None, 'color': 4, 'countr...",0,63.683333,False,Persians,Magyars,Franks,Aztecs,Britons,Goths,Malians,Spanish,1280.625
59997,12,42259207,441f5659-fb65-f649-b758-97bf52745f75,8,"[{'civ': 21, 'clan': None, 'color': 4, 'countr...",1,44.983333,False,Persians,Malay,Britons,Goths,Khmer,Britons,Mongols,Persians,1131.375

In [256]:
df_x1=df_x1.drop('map_size', 1)
df_x1

,map_type,match_id,match_uuid,num_players,players,visibility,duration,has_relevant_water,wCiv,lCiv,average_rating
0,9,40745268,771f9279-8792-be44-bf32-5db278f358aa,2,"[{'civ': 20, 'clan': None, 'color': 2, 'countr...",0,31.483333,False,Byzantines,Magyars,1234.0
1,9,40745265,15f45199-5ce5-2247-a421-9f6cc28afa72,2,"[{'civ': 2, 'clan': None, 'color': 2, 'country...",0,20.733333,False,Incas,Britons,1111.0
2,9,40745258,5b9697b8-366d-8748-a967-c34722ffe377,2,"[{'civ': 23, 'clan': None, 'color': 2, 'countr...",0,22.983333,False,Ethiopians,Mayans,1202.5
4,9,40745189,40d77d0b-b08c-f945-883e-3fccc7b1b8a4,2,"[{'civ': 23, 'clan': None, 'color': 2, 'countr...",0,48.150000,False,Mayans,Franks,1453.0
15,9,40745311,f577c0f8-0d34-9143-80b8-c5726eee3800,2,"[{'civ': 29, 'clan': None, 'color': 2, 'countr...",0,0.150000,False,Spanish,Persians,NaN
...,...,...,...,...,...,...,...,...,...,...,...
59985,9,42259167,3e33efe4-02c4-c34f-b47c-f5097b2eae19,2,"[{'civ': 7, 'clan': None, 'color': 2, 'country...",0,31.583333,False,Chinese,Chinese,1692.5
59988,9,42259216,fbf6ea6a-08ff-d746-8403-f4f45d932b15,2,"[{'civ': 13, 'clan': None, 'color': 2, 'countr...",0,41.433333,False,Byzantines,Incas,926.5
59989,29,42259211,fba9486f-1954-6b4f-a37f-d9b55012de9c,2,"[{'civ': 24, 'clan': None, 'color': 2, 'countr...",0,21.733333,False,Franks,Mongols,1103.0
59996,87,42259214,a5247657-5067-3c47-96f0-0dc3a834063d,2,"[{'civ': 11, 'clan': None, 'color': 2, 'countr...",0,31.916667,False,Franks,Goths,1297.5
59999,16,42259169,b2d6c910-88f0-3143-911f-54f07aa0392c,2,"[{'civ': 20, 'clan': None, 'color': 2, 'countr...",0,282.700000,False,Magyars,Saracens,1049.0

In [257]:
df_x1.to_json('x1_matches_dataset.json')

df_team.to_json('team_matches_dataset.json')

In [259]:
df_x1.dtypes

map_type                int64
match_id                int64
match_uuid             object
num_players             int64
players                object
visibility              int64
duration              float64
has_relevant_water       bool
wCiv                   object
lCiv                   object
average_rating        float64
dtype: object

In [260]:
df_team.dtypes

map_type                int64
match_id                int64
match_uuid             object
num_players             int64
players                object
visibility              int64
duration              float64
has_relevant_water       bool
wCiv1                  object
wCiv2                  object
wCiv3                  object
wCiv4                  object
lCiv1                  object
lCiv2                  object
lCiv3                  object
lCiv4                  object
average_rating        float64
dtype: object