In [352]:
import requests
import json
from IPython.display import display

url="https://aoe2.net/api/matches?game=aoe2de&count=1000&since="

In [354]:
dict_file=[]
for epoch in range(1601223367, 1602087367, 14400):
    req=requests.get(url+str(epoch))
    dict_piece=json.loads(req.content)
    dict_file=dict_file + dict_piece

#req=requests.get(url)
#dict_file=json.loads(req.content)

In [355]:
json_file=json.dumps(dict_file, indent=4, sort_keys=True)

In [356]:
str_url="https://aoe2.net/api/strings?game=aoe2de&language=en"
req=requests.get("https://aoe2.net/api/strings?game=aoe2de&language=en")

In [357]:
dict_str=json.loads(req.content)
json_str=json.dumps(dict_str, indent=4, sort_keys=True)

In [358]:
print(json_str)

{
    "age": [
        {
            "id": 0,
            "string": "Standard"
        },
        {
            "id": 2,
            "string": "Dark Age"
        },
        {
            "id": 3,
            "string": "Feudal Age"
        },
        {
            "id": 4,
            "string": "Castle Age"
        },
        {
            "id": 5,
            "string": "Imperial Age"
        },
        {
            "id": 6,
            "string": "Post-Imperial Age"
        }
    ],
    "civ": [
        {
            "id": 0,
            "string": "Aztecs"
        },
        {
            "id": 1,
            "string": "Berbers"
        },
        {
            "id": 2,
            "string": "Britons"
        },
        {
            "id": 3,
            "string": "Bulgarians"
        },
        {
            "id": 4,
            "string": "Burmese"
        },
        {
            "id": 5,
            "string": "Byzantines"
        },
        {
            "id": 6,
            "string": "Celts"
        },
        {
            "id": 7,
            "string": "Chinese"
        },
        {
            "id": 8,
            "string": "Cumans"
        },
        {
            "id": 9,
            "string": "Ethiopians"
        },
        {
            "id": 10,
            "string": "Franks"
        },
        {
            "id": 11,
            "string": "Goths"
        },
        {
            "id": 12,
            "string": "Huns"
        },
        {
            "id": 13,
            "string": "Incas"
        },
        {
            "id": 14,
            "string": "Indians"
        },
        {
            "id": 15,
            "string": "Italians"
        },
        {
            "id": 16,
            "string": "Japanese"
        },
        {
            "id": 17,
            "string": "Khmer"
        },
        {
            "id": 18,
            "string": "Koreans"
        },
        {
            "id": 19,
            "string": "Lithuanians"
        },
        {
            "id": 20,
            "string": "Magyars"
        },
        {
            "id": 21,
            "string": "Malay"
        },
        {
            "id": 22,
            "string": "Malians"
        },
        {
            "id": 23,
            "string": "Mayans"
        },
        {
            "id": 24,
            "string": "Mongols"
        },
        {
            "id": 25,
            "string": "Persians"
        },
        {
            "id": 26,
            "string": "Portuguese"
        },
        {
            "id": 27,
            "string": "Saracens"
        },
        {
            "id": 28,
            "string": "Slavs"
        },
        {
            "id": 29,
            "string": "Spanish"
        },
        {
            "id": 30,
            "string": "Tatars"
        },
        {
            "id": 31,
            "string": "Teutons"
        },
        {
            "id": 32,
            "string": "Turks"
        },
        {
            "id": 33,
            "string": "Vietnamese"
        },
        {
            "id": 34,
            "string": "Vikings"
        }
    ],
    "game_type": [
        {
            "id": 0,
            "string": "Random Map"
        },
        {
            "id": 1,
            "string": "Regicide"
        },
        {
            "id": 2,
            "string": "Death Match"
        },
        {
            "id": 3,
            "string": "Scenario"
        },
        {
            "id": 6,
            "string": "King of the Hill"
        },
        {
            "id": 7,
            "string": "Wonder Race"
        },
        {
            "id": 8,
            "string": "Defend the Wonder"
        },
        {
            "id": 9,
            "string": "Turbo Random Map"
        },
        {
            "id": 10,
            "string": "Capture the Relic"
        },
        {
            "id": 11,
            "string": "Sudden Death"
        },
        {
            "id": 13,
            "string": "Empire Wars"
        }
    ],
    "language": "en",
    "leaderboard": [
        {
            "id": 0,
            "string": "Unranked"
        },
        {
            "id": 1,
            "string": "1v1 Death Match"
        },
        {
            "id": 2,
            "string": "Team Death Match"
        },
        {
            "id": 3,
            "string": "1v1 Random Map"
        },
        {
            "id": 4,
            "string": "Team Random Map"
        }
    ],
    "map_size": [
        {
            "id": 0,
            "string": "Tiny (2 player)"
        },
        {
            "id": 1,
            "string": "Small (3 player)"
        },
        {
            "id": 2,
            "string": "Medium (4 player)"
        },
        {
            "id": 3,
            "string": "Normal (6 player)"
        },
        {
            "id": 4,
            "string": "Large (8 player)"
        },
        {
            "id": 5,
            "string": "Giant"
        },
        {
            "id": 6,
            "string": "Ludicrous"
        }
    ],
    "map_type": [
        {
            "id": 9,
            "string": "Arabia"
        },
        {
            "id": 10,
            "string": "Archipelago"
        },
        {
            "id": 11,
            "string": "Baltic"
        },
        {
            "id": 12,
            "string": "Black Forest"
        },
        {
            "id": 13,
            "string": "Coastal"
        },
        {
            "id": 14,
            "string": "Continental"
        },
        {
            "id": 15,
            "string": "Crater Lake"
        },
        {
            "id": 16,
            "string": "Fortress"
        },
        {
            "id": 17,
            "string": "Gold Rush"
        },
        {
            "id": 18,
            "string": "Highland"
        },
        {
            "id": 19,
            "string": "Islands"
        },
        {
            "id": 20,
            "string": "Mediterranean"
        },
        {
            "id": 21,
            "string": "Migration"
        },
        {
            "id": 22,
            "string": "Rivers"
        },
        {
            "id": 23,
            "string": "Team Islands"
        },
        {
            "id": 24,
            "string": "Full Random"
        },
        {
            "id": 25,
            "string": "Scandinavia"
        },
        {
            "id": 26,
            "string": "Mongolia"
        },
        {
            "id": 27,
            "string": "Yucatan"
        },
        {
            "id": 28,
            "string": "Salt Marsh"
        },
        {
            "id": 29,
            "string": "Arena"
        },
        {
            "id": 31,
            "string": "Oasis"
        },
        {
            "id": 32,
            "string": "Ghost Lake"
        },
        {
            "id": 33,
            "string": "Nomad"
        },
        {
            "id": 49,
            "string": "Iberia"
        },
        {
            "id": 50,
            "string": "Britain"
        },
        {
            "id": 51,
            "string": "Mideast"
        },
        {
            "id": 52,
            "string": "Texas"
        },
        {
            "id": 53,
            "string": "Italy"
        },
        {
            "id": 54,
            "string": "Central America"
        },
        {
            "id": 55,
            "string": "France"
        },
        {
            "id": 56,
            "string": "Norse Lands"
        },
        {
            "id": 57,
            "string": "Sea of Japan (East Sea)"
        },
        {
            "id": 58,
            "string": "Byzantium"
        },
        {
            "id": 59,
            "string": "Custom"
        },
        {
            "id": 60,
            "string": "Random Land Map"
        },
        {
            "id": 62,
            "string": "Random Real World Map"
        },
        {
            "id": 63,
            "string": "Blind Random"
        },
        {
            "id": 65,
            "string": "Random Special Map"
        },
        {
            "id": 66,
            "string": "Random Special Map"
        },
        {
            "id": 67,
            "string": "Acropolis"
        },
        {
            "id": 68,
            "string": "Budapest"
        },
        {
            "id": 69,
            "string": "Cenotes"
        },
        {
            "id": 70,
            "string": "City of Lakes"
        },
        {
            "id": 71,
            "string": "Golden Pit"
        },
        {
            "id": 72,
            "string": "Hideout"
        },
        {
            "id": 73,
            "string": "Hill Fort"
        },
        {
            "id": 74,
            "string": "Lombardia"
        },
        {
            "id": 75,
            "string": "Steppe"
        },
        {
            "id": 76,
            "string": "Valley"
        },
        {
            "id": 77,
            "string": "MegaRandom"
        },
        {
            "id": 78,
            "string": "Hamburger"
        },
        {
            "id": 79,
            "string": "CtR Random"
        },
        {
            "id": 80,
            "string": "CtR Monsoon"
        },
        {
            "id": 81,
            "string": "CtR Pyramid Descent"
        },
        {
            "id": 82,
            "string": "CtR Spiral"
        },
        {
            "id": 83,
            "string": "Kilimanjaro"
        },
        {
            "id": 84,
            "string": "Mountain Pass"
        },
        {
            "id": 85,
            "string": "Nile Delta"
        },
        {
            "id": 86,
            "string": "Serengeti"
        },
        {
            "id": 87,
            "string": "Socotra"
        },
        {
            "id": 88,
            "string": "Amazon"
        },
        {
            "id": 89,
            "string": "China"
        },
        {
            "id": 90,
            "string": "Horn of Africa"
        },
        {
            "id": 91,
            "string": "India"
        },
        {
            "id": 92,
            "string": "Madagascar"
        },
        {
            "id": 93,
            "string": "West Africa"
        },
        {
            "id": 94,
            "string": "Bohemia"
        },
        {
            "id": 95,
            "string": "Earth"
        },
        {
            "id": 96,
            "string": "Canyons"
        },
        {
            "id": 97,
            "string": "Enemy Archipelago"
        },
        {
            "id": 98,
            "string": "Enemy Islands"
        },
        {
            "id": 99,
            "string": "Far Out"
        },
        {
            "id": 100,
            "string": "Front Line"
        },
        {
            "id": 101,
            "string": "Inner Circle"
        },
        {
            "id": 102,
            "string": "Motherland"
        },
        {
            "id": 103,
            "string": "Open Plains"
        },
        {
            "id": 104,
            "string": "Ring of Water"
        },
        {
            "id": 105,
            "string": "Snakepit"
        },
        {
            "id": 106,
            "string": "The Eye"
        },
        {
            "id": 107,
            "string": "Australia"
        },
        {
            "id": 108,
            "string": "Indochina"
        },
        {
            "id": 109,
            "string": "Indonesia"
        },
        {
            "id": 110,
            "string": "Strait of Malacca"
        },
        {
            "id": 111,
            "string": "Philippines"
        },
        {
            "id": 112,
            "string": "Bog Islands"
        },
        {
            "id": 113,
            "string": "Mangrove Jungle"
        },
        {
            "id": 114,
            "string": "Pacific Islands"
        },
        {
            "id": 115,
            "string": "Sandbank"
        },
        {
            "id": 116,
            "string": "Water Nomad"
        },
        {
            "id": 117,
            "string": "Jungle Islands"
        },
        {
            "id": 118,
            "string": "Holy Line"
        },
        {
            "id": 119,
            "string": "Border Stones"
        },
        {
            "id": 120,
            "string": "Yin Yang"
        },
        {
            "id": 121,
            "string": "Jungle Lanes"
        },
        {
            "id": 122,
            "string": "Alpine Lakes"
        },
        {
            "id": 123,
            "string": "Bogland"
        },
        {
            "id": 124,
            "string": "Mountain Ridge"
        },
        {
            "id": 125,
            "string": "Ravines"
        },
        {
            "id": 126,
            "string": "Wolf Hill"
        },
        {
            "id": 132,
            "string": "Antarctica"
        },
        {
            "id": 137,
            "string": "Custom Map Pool"
        },
        {
            "id": 139,
            "string": "Golden Swamp"
        },
        {
            "id": 140,
            "string": "Four Lakes"
        },
        {
            "id": 141,
            "string": "Land Nomad"
        }
    ],
    "rating_type": [
        {
            "id": 0,
            "string": "Unranked"
        },
        {
            "id": 1,
            "string": "1v1 Death Match"
        },
        {
            "id": 2,
            "string": "1v1 Random Map"
        },
        {
            "id": 3,
            "string": "Team Death Match"
        },
        {
            "id": 4,
            "string": "Team Random Map"
        }
    ],
    "resources": [
        {
            "id": 0,
            "string": "Standard"
        },
        {
            "id": 1,
            "string": "Low"
        },
        {
            "id": 2,
            "string": "Medium"
        },
        {
            "id": 3,
            "string": "High"
        },
        {
            "id": 4,
            "string": "Ultra High"
        },
        {
            "id": 5,
            "string": "Infinite"
        },
        {
            "id": 6,
            "string": "Random"
        }
    ],
    "speed": [
        {
            "id": 0,
            "string": "Slow"
        },
        {
            "id": 1,
            "string": "Casual"
        },
        {
            "id": 2,
            "string": "Normal"
        },
        {
            "id": 3,
            "string": "Fast"
        }
    ],
    "victory": [
        {
            "id": 1,
            "string": "Conquest"
        },
        {
            "id": 7,
            "string": "Time Limit"
        },
        {
            "id": 8,
            "string": "Score"
        },
        {
            "id": 9,
            "string": "Standard"
        },
        {
            "id": 11,
            "string": "Last Man Standing"
        }
    ],
    "visibility": [
        {
            "id": 0,
            "string": "Normal"
        },
        {
            "id": 1,
            "string": "Explored"
        },
        {
            "id": 2,
            "string": "All Visible"
        }
    ]
}

In [359]:
import pandas

#df=pandas.DataFrame.from_dict(dict_file, orient='index')
df=pandas.read_json(json_file)
pandas.options.display.max_columns = None
df.columns

Index(['average_rating', 'cheats', 'ending_age', 'expansion', 'finished',
       'full_tech_tree', 'game_type', 'has_custom_content', 'has_password',
       'leaderboard_id', 'lobby_id', 'lock_speed', 'lock_teams', 'map_size',
       'map_type', 'match_id', 'match_uuid', 'name', 'num_players',
       'num_slots', 'opened', 'players', 'pop', 'ranked', 'rating_type',
       'resources', 'rms', 'scenario', 'server', 'shared_exploration', 'speed',
       'started', 'starting_age', 'team_positions', 'team_together',
       'treaty_length', 'turbo', 'version', 'victory', 'victory_time',
       'visibility'],
      dtype='object')

In [360]:
df=df[df['cheats'] == False]

In [361]:
df=df.drop('cheats', 1)
df

,average_rating,ending_age,expansion,finished,full_tech_tree,game_type,has_custom_content,has_password,leaderboard_id,lobby_id,lock_speed,lock_teams,map_size,map_type,match_id,match_uuid,name,num_players,num_slots,opened,players,pop,ranked,rating_type,resources,rms,scenario,server,shared_exploration,speed,started,starting_age,team_positions,team_together,treaty_length,turbo,version,victory,victory_time,visibility
0,NaN,5,NaN,1601225257,0.0,0,NaN,1.0,3,NaN,1.0,1.0,0,9.0,40745268,771f9279-8792-be44-bf32-5db278f358aa,AUTOMATCH,2,2,1601223368,"[{'civ': 20, 'clan': None, 'color': 2, 'countr...",200.0,True,2,0.0,None,None,eastus,0.0,2.0,1601223368,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0
1,NaN,5,NaN,1601224612,0.0,0,NaN,1.0,3,NaN,1.0,1.0,0,9.0,40745265,15f45199-5ce5-2247-a421-9f6cc28afa72,AUTOMATCH,2,2,1601223368,"[{'civ': 2, 'clan': None, 'color': 2, 'country...",200.0,True,2,0.0,None,None,ukwest,0.0,2.0,1601223368,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0
2,NaN,5,NaN,1601224747,0.0,0,NaN,1.0,3,NaN,1.0,1.0,0,9.0,40745258,5b9697b8-366d-8748-a967-c34722ffe377,AUTOMATCH,2,2,1601223368,"[{'civ': 23, 'clan': None, 'color': 2, 'countr...",200.0,True,2,0.0,None,None,ukwest,0.0,2.0,1601223368,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0
3,NaN,5,NaN,1601226856,0.0,0,NaN,1.0,4,NaN,1.0,1.0,2,125.0,40745193,30c01441-cba8-584f-8585-777eea38d6fd,AUTOMATCH,4,4,1601223368,"[{'civ': 10, 'clan': None, 'color': 2, 'countr...",200.0,True,4,0.0,None,None,ukwest,0.0,2.0,1601223368,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0
4,NaN,5,NaN,1601226257,0.0,0,NaN,1.0,3,NaN,1.0,1.0,0,9.0,40745189,40d77d0b-b08c-f945-883e-3fccc7b1b8a4,AUTOMATCH,2,2,1601223368,"[{'civ': 23, 'clan': None, 'color': 2, 'countr...",200.0,True,2,0.0,None,None,southeastasia,0.0,2.0,1601223368,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59995,NaN,5,NaN,1602078313,0.0,0,NaN,0.0,0,NaN,1.0,1.0,4,12.0,42258758,16f92b01-f4d5-1e41-9b59-49ff4c92c30c,BF 4V4 *GOOD Noobs OR BETTER(respect others pl...,8,8,1602074771,"[{'civ': 12, 'clan': None, 'color': 5, 'countr...",250.0,False,0,0.0,None,None,westus2,1.0,2.0,1602075071,0,0.0,1.0,0,0.0,40874.0,1.0,1.0,1.0
59996,NaN,5,NaN,1602076991,0.0,0,NaN,1.0,3,NaN,1.0,1.0,0,87.0,42259214,a5247657-5067-3c47-96f0-0dc3a834063d,AUTOMATCH,2,2,1602075042,"[{'civ': 11, 'clan': None, 'color': 2, 'countr...",200.0,True,2,0.0,None,None,ukwest,0.0,2.0,1602075076,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0
59997,NaN,5,NaN,1602077785,0.0,0,NaN,1.0,4,NaN,1.0,1.0,4,12.0,42259207,441f5659-fb65-f649-b758-97bf52745f75,AUTOMATCH,8,8,1602075042,"[{'civ': 21, 'clan': None, 'color': 4, 'countr...",200.0,True,4,0.0,None,None,westus2,0.0,2.0,1602075086,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,1.0
59998,NaN,0,NaN,1602078302,0.0,0,NaN,0.0,0,NaN,1.0,1.0,4,33.0,42259146,87e106dc-f63f-4943-8b91-14913dd19bf2,"Nomad 4v4, 3v3",8,8,1602075001,"[{'civ': 34, 'clan': None, 'color': 7, 'countr...",200.0,False,0,0.0,None,None,westeurope,0.0,2.0,1602075086,0,0.0,1.0,0,0.0,40874.0,1.0,1.0,0.0
59999,NaN,5,NaN,1602092048,0.0,0,NaN,1.0,3,NaN,1.0,1.0,0,16.0,42259169,b2d6c910-88f0-3143-911f-54f07aa0392c,AUTOMATCH,2,2,1602075022,"[{'civ': 20, 'clan': None, 'color': 2, 'countr...",200.0,True,2,0.0,None,None,eastus,0.0,2.0,1602075086,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0

In [362]:
df=df.drop('average_rating', 1)

In [363]:
df

,ending_age,expansion,finished,full_tech_tree,game_type,has_custom_content,has_password,leaderboard_id,lobby_id,lock_speed,lock_teams,map_size,map_type,match_id,match_uuid,name,num_players,num_slots,opened,players,pop,ranked,rating_type,resources,rms,scenario,server,shared_exploration,speed,started,starting_age,team_positions,team_together,treaty_length,turbo,version,victory,victory_time,visibility
0,5,NaN,1601225257,0.0,0,NaN,1.0,3,NaN,1.0,1.0,0,9.0,40745268,771f9279-8792-be44-bf32-5db278f358aa,AUTOMATCH,2,2,1601223368,"[{'civ': 20, 'clan': None, 'color': 2, 'countr...",200.0,True,2,0.0,None,None,eastus,0.0,2.0,1601223368,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0
1,5,NaN,1601224612,0.0,0,NaN,1.0,3,NaN,1.0,1.0,0,9.0,40745265,15f45199-5ce5-2247-a421-9f6cc28afa72,AUTOMATCH,2,2,1601223368,"[{'civ': 2, 'clan': None, 'color': 2, 'country...",200.0,True,2,0.0,None,None,ukwest,0.0,2.0,1601223368,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0
2,5,NaN,1601224747,0.0,0,NaN,1.0,3,NaN,1.0,1.0,0,9.0,40745258,5b9697b8-366d-8748-a967-c34722ffe377,AUTOMATCH,2,2,1601223368,"[{'civ': 23, 'clan': None, 'color': 2, 'countr...",200.0,True,2,0.0,None,None,ukwest,0.0,2.0,1601223368,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0
3,5,NaN,1601226856,0.0,0,NaN,1.0,4,NaN,1.0,1.0,2,125.0,40745193,30c01441-cba8-584f-8585-777eea38d6fd,AUTOMATCH,4,4,1601223368,"[{'civ': 10, 'clan': None, 'color': 2, 'countr...",200.0,True,4,0.0,None,None,ukwest,0.0,2.0,1601223368,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0
4,5,NaN,1601226257,0.0,0,NaN,1.0,3,NaN,1.0,1.0,0,9.0,40745189,40d77d0b-b08c-f945-883e-3fccc7b1b8a4,AUTOMATCH,2,2,1601223368,"[{'civ': 23, 'clan': None, 'color': 2, 'countr...",200.0,True,2,0.0,None,None,southeastasia,0.0,2.0,1601223368,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59995,5,NaN,1602078313,0.0,0,NaN,0.0,0,NaN,1.0,1.0,4,12.0,42258758,16f92b01-f4d5-1e41-9b59-49ff4c92c30c,BF 4V4 *GOOD Noobs OR BETTER(respect others pl...,8,8,1602074771,"[{'civ': 12, 'clan': None, 'color': 5, 'countr...",250.0,False,0,0.0,None,None,westus2,1.0,2.0,1602075071,0,0.0,1.0,0,0.0,40874.0,1.0,1.0,1.0
59996,5,NaN,1602076991,0.0,0,NaN,1.0,3,NaN,1.0,1.0,0,87.0,42259214,a5247657-5067-3c47-96f0-0dc3a834063d,AUTOMATCH,2,2,1602075042,"[{'civ': 11, 'clan': None, 'color': 2, 'countr...",200.0,True,2,0.0,None,None,ukwest,0.0,2.0,1602075076,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0
59997,5,NaN,1602077785,0.0,0,NaN,1.0,4,NaN,1.0,1.0,4,12.0,42259207,441f5659-fb65-f649-b758-97bf52745f75,AUTOMATCH,8,8,1602075042,"[{'civ': 21, 'clan': None, 'color': 4, 'countr...",200.0,True,4,0.0,None,None,westus2,0.0,2.0,1602075086,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,1.0
59998,0,NaN,1602078302,0.0,0,NaN,0.0,0,NaN,1.0,1.0,4,33.0,42259146,87e106dc-f63f-4943-8b91-14913dd19bf2,"Nomad 4v4, 3v3",8,8,1602075001,"[{'civ': 34, 'clan': None, 'color': 7, 'countr...",200.0,False,0,0.0,None,None,westeurope,0.0,2.0,1602075086,0,0.0,1.0,0,0.0,40874.0,1.0,1.0,0.0
59999,5,NaN,1602092048,0.0,0,NaN,1.0,3,NaN,1.0,1.0,0,16.0,42259169,b2d6c910-88f0-3143-911f-54f07aa0392c,AUTOMATCH,2,2,1602075022,"[{'civ': 20, 'clan': None, 'color': 2, 'countr...",200.0,True,2,0.0,None,None,eastus,0.0,2.0,1602075086,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0

In [364]:
df=df.drop('expansion', 1)

In [365]:
df

,ending_age,finished,full_tech_tree,game_type,has_custom_content,has_password,leaderboard_id,lobby_id,lock_speed,lock_teams,map_size,map_type,match_id,match_uuid,name,num_players,num_slots,opened,players,pop,ranked,rating_type,resources,rms,scenario,server,shared_exploration,speed,started,starting_age,team_positions,team_together,treaty_length,turbo,version,victory,victory_time,visibility
0,5,1601225257,0.0,0,NaN,1.0,3,NaN,1.0,1.0,0,9.0,40745268,771f9279-8792-be44-bf32-5db278f358aa,AUTOMATCH,2,2,1601223368,"[{'civ': 20, 'clan': None, 'color': 2, 'countr...",200.0,True,2,0.0,None,None,eastus,0.0,2.0,1601223368,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0
1,5,1601224612,0.0,0,NaN,1.0,3,NaN,1.0,1.0,0,9.0,40745265,15f45199-5ce5-2247-a421-9f6cc28afa72,AUTOMATCH,2,2,1601223368,"[{'civ': 2, 'clan': None, 'color': 2, 'country...",200.0,True,2,0.0,None,None,ukwest,0.0,2.0,1601223368,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0
2,5,1601224747,0.0,0,NaN,1.0,3,NaN,1.0,1.0,0,9.0,40745258,5b9697b8-366d-8748-a967-c34722ffe377,AUTOMATCH,2,2,1601223368,"[{'civ': 23, 'clan': None, 'color': 2, 'countr...",200.0,True,2,0.0,None,None,ukwest,0.0,2.0,1601223368,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0
3,5,1601226856,0.0,0,NaN,1.0,4,NaN,1.0,1.0,2,125.0,40745193,30c01441-cba8-584f-8585-777eea38d6fd,AUTOMATCH,4,4,1601223368,"[{'civ': 10, 'clan': None, 'color': 2, 'countr...",200.0,True,4,0.0,None,None,ukwest,0.0,2.0,1601223368,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0
4,5,1601226257,0.0,0,NaN,1.0,3,NaN,1.0,1.0,0,9.0,40745189,40d77d0b-b08c-f945-883e-3fccc7b1b8a4,AUTOMATCH,2,2,1601223368,"[{'civ': 23, 'clan': None, 'color': 2, 'countr...",200.0,True,2,0.0,None,None,southeastasia,0.0,2.0,1601223368,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59995,5,1602078313,0.0,0,NaN,0.0,0,NaN,1.0,1.0,4,12.0,42258758,16f92b01-f4d5-1e41-9b59-49ff4c92c30c,BF 4V4 *GOOD Noobs OR BETTER(respect others pl...,8,8,1602074771,"[{'civ': 12, 'clan': None, 'color': 5, 'countr...",250.0,False,0,0.0,None,None,westus2,1.0,2.0,1602075071,0,0.0,1.0,0,0.0,40874.0,1.0,1.0,1.0
59996,5,1602076991,0.0,0,NaN,1.0,3,NaN,1.0,1.0,0,87.0,42259214,a5247657-5067-3c47-96f0-0dc3a834063d,AUTOMATCH,2,2,1602075042,"[{'civ': 11, 'clan': None, 'color': 2, 'countr...",200.0,True,2,0.0,None,None,ukwest,0.0,2.0,1602075076,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0
59997,5,1602077785,0.0,0,NaN,1.0,4,NaN,1.0,1.0,4,12.0,42259207,441f5659-fb65-f649-b758-97bf52745f75,AUTOMATCH,8,8,1602075042,"[{'civ': 21, 'clan': None, 'color': 4, 'countr...",200.0,True,4,0.0,None,None,westus2,0.0,2.0,1602075086,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,1.0
59998,0,1602078302,0.0,0,NaN,0.0,0,NaN,1.0,1.0,4,33.0,42259146,87e106dc-f63f-4943-8b91-14913dd19bf2,"Nomad 4v4, 3v3",8,8,1602075001,"[{'civ': 34, 'clan': None, 'color': 7, 'countr...",200.0,False,0,0.0,None,None,westeurope,0.0,2.0,1602075086,0,0.0,1.0,0,0.0,40874.0,1.0,1.0,0.0
59999,5,1602092048,0.0,0,NaN,1.0,3,NaN,1.0,1.0,0,16.0,42259169,b2d6c910-88f0-3143-911f-54f07aa0392c,AUTOMATCH,2,2,1602075022,"[{'civ': 20, 'clan': None, 'color': 2, 'countr...",200.0,True,2,0.0,None,None,eastus,0.0,2.0,1602075086,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0

In [366]:
df=df.drop('server', 1)

In [367]:
df

,ending_age,finished,full_tech_tree,game_type,has_custom_content,has_password,leaderboard_id,lobby_id,lock_speed,lock_teams,map_size,map_type,match_id,match_uuid,name,num_players,num_slots,opened,players,pop,ranked,rating_type,resources,rms,scenario,shared_exploration,speed,started,starting_age,team_positions,team_together,treaty_length,turbo,version,victory,victory_time,visibility
0,5,1601225257,0.0,0,NaN,1.0,3,NaN,1.0,1.0,0,9.0,40745268,771f9279-8792-be44-bf32-5db278f358aa,AUTOMATCH,2,2,1601223368,"[{'civ': 20, 'clan': None, 'color': 2, 'countr...",200.0,True,2,0.0,None,None,0.0,2.0,1601223368,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0
1,5,1601224612,0.0,0,NaN,1.0,3,NaN,1.0,1.0,0,9.0,40745265,15f45199-5ce5-2247-a421-9f6cc28afa72,AUTOMATCH,2,2,1601223368,"[{'civ': 2, 'clan': None, 'color': 2, 'country...",200.0,True,2,0.0,None,None,0.0,2.0,1601223368,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0
2,5,1601224747,0.0,0,NaN,1.0,3,NaN,1.0,1.0,0,9.0,40745258,5b9697b8-366d-8748-a967-c34722ffe377,AUTOMATCH,2,2,1601223368,"[{'civ': 23, 'clan': None, 'color': 2, 'countr...",200.0,True,2,0.0,None,None,0.0,2.0,1601223368,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0
3,5,1601226856,0.0,0,NaN,1.0,4,NaN,1.0,1.0,2,125.0,40745193,30c01441-cba8-584f-8585-777eea38d6fd,AUTOMATCH,4,4,1601223368,"[{'civ': 10, 'clan': None, 'color': 2, 'countr...",200.0,True,4,0.0,None,None,0.0,2.0,1601223368,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0
4,5,1601226257,0.0,0,NaN,1.0,3,NaN,1.0,1.0,0,9.0,40745189,40d77d0b-b08c-f945-883e-3fccc7b1b8a4,AUTOMATCH,2,2,1601223368,"[{'civ': 23, 'clan': None, 'color': 2, 'countr...",200.0,True,2,0.0,None,None,0.0,2.0,1601223368,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59995,5,1602078313,0.0,0,NaN,0.0,0,NaN,1.0,1.0,4,12.0,42258758,16f92b01-f4d5-1e41-9b59-49ff4c92c30c,BF 4V4 *GOOD Noobs OR BETTER(respect others pl...,8,8,1602074771,"[{'civ': 12, 'clan': None, 'color': 5, 'countr...",250.0,False,0,0.0,None,None,1.0,2.0,1602075071,0,0.0,1.0,0,0.0,40874.0,1.0,1.0,1.0
59996,5,1602076991,0.0,0,NaN,1.0,3,NaN,1.0,1.0,0,87.0,42259214,a5247657-5067-3c47-96f0-0dc3a834063d,AUTOMATCH,2,2,1602075042,"[{'civ': 11, 'clan': None, 'color': 2, 'countr...",200.0,True,2,0.0,None,None,0.0,2.0,1602075076,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0
59997,5,1602077785,0.0,0,NaN,1.0,4,NaN,1.0,1.0,4,12.0,42259207,441f5659-fb65-f649-b758-97bf52745f75,AUTOMATCH,8,8,1602075042,"[{'civ': 21, 'clan': None, 'color': 4, 'countr...",200.0,True,4,0.0,None,None,0.0,2.0,1602075086,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,1.0
59998,0,1602078302,0.0,0,NaN,0.0,0,NaN,1.0,1.0,4,33.0,42259146,87e106dc-f63f-4943-8b91-14913dd19bf2,"Nomad 4v4, 3v3",8,8,1602075001,"[{'civ': 34, 'clan': None, 'color': 7, 'countr...",200.0,False,0,0.0,None,None,0.0,2.0,1602075086,0,0.0,1.0,0,0.0,40874.0,1.0,1.0,0.0
59999,5,1602092048,0.0,0,NaN,1.0,3,NaN,1.0,1.0,0,16.0,42259169,b2d6c910-88f0-3143-911f-54f07aa0392c,AUTOMATCH,2,2,1602075022,"[{'civ': 20, 'clan': None, 'color': 2, 'countr...",200.0,True,2,0.0,None,None,0.0,2.0,1602075086,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0

In [368]:
df=df.drop('name', 1)

In [369]:
df

,ending_age,finished,full_tech_tree,game_type,has_custom_content,has_password,leaderboard_id,lobby_id,lock_speed,lock_teams,map_size,map_type,match_id,match_uuid,num_players,num_slots,opened,players,pop,ranked,rating_type,resources,rms,scenario,shared_exploration,speed,started,starting_age,team_positions,team_together,treaty_length,turbo,version,victory,victory_time,visibility
0,5,1601225257,0.0,0,NaN,1.0,3,NaN,1.0,1.0,0,9.0,40745268,771f9279-8792-be44-bf32-5db278f358aa,2,2,1601223368,"[{'civ': 20, 'clan': None, 'color': 2, 'countr...",200.0,True,2,0.0,None,None,0.0,2.0,1601223368,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0
1,5,1601224612,0.0,0,NaN,1.0,3,NaN,1.0,1.0,0,9.0,40745265,15f45199-5ce5-2247-a421-9f6cc28afa72,2,2,1601223368,"[{'civ': 2, 'clan': None, 'color': 2, 'country...",200.0,True,2,0.0,None,None,0.0,2.0,1601223368,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0
2,5,1601224747,0.0,0,NaN,1.0,3,NaN,1.0,1.0,0,9.0,40745258,5b9697b8-366d-8748-a967-c34722ffe377,2,2,1601223368,"[{'civ': 23, 'clan': None, 'color': 2, 'countr...",200.0,True,2,0.0,None,None,0.0,2.0,1601223368,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0
3,5,1601226856,0.0,0,NaN,1.0,4,NaN,1.0,1.0,2,125.0,40745193,30c01441-cba8-584f-8585-777eea38d6fd,4,4,1601223368,"[{'civ': 10, 'clan': None, 'color': 2, 'countr...",200.0,True,4,0.0,None,None,0.0,2.0,1601223368,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0
4,5,1601226257,0.0,0,NaN,1.0,3,NaN,1.0,1.0,0,9.0,40745189,40d77d0b-b08c-f945-883e-3fccc7b1b8a4,2,2,1601223368,"[{'civ': 23, 'clan': None, 'color': 2, 'countr...",200.0,True,2,0.0,None,None,0.0,2.0,1601223368,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59995,5,1602078313,0.0,0,NaN,0.0,0,NaN,1.0,1.0,4,12.0,42258758,16f92b01-f4d5-1e41-9b59-49ff4c92c30c,8,8,1602074771,"[{'civ': 12, 'clan': None, 'color': 5, 'countr...",250.0,False,0,0.0,None,None,1.0,2.0,1602075071,0,0.0,1.0,0,0.0,40874.0,1.0,1.0,1.0
59996,5,1602076991,0.0,0,NaN,1.0,3,NaN,1.0,1.0,0,87.0,42259214,a5247657-5067-3c47-96f0-0dc3a834063d,2,2,1602075042,"[{'civ': 11, 'clan': None, 'color': 2, 'countr...",200.0,True,2,0.0,None,None,0.0,2.0,1602075076,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0
59997,5,1602077785,0.0,0,NaN,1.0,4,NaN,1.0,1.0,4,12.0,42259207,441f5659-fb65-f649-b758-97bf52745f75,8,8,1602075042,"[{'civ': 21, 'clan': None, 'color': 4, 'countr...",200.0,True,4,0.0,None,None,0.0,2.0,1602075086,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,1.0
59998,0,1602078302,0.0,0,NaN,0.0,0,NaN,1.0,1.0,4,33.0,42259146,87e106dc-f63f-4943-8b91-14913dd19bf2,8,8,1602075001,"[{'civ': 34, 'clan': None, 'color': 7, 'countr...",200.0,False,0,0.0,None,None,0.0,2.0,1602075086,0,0.0,1.0,0,0.0,40874.0,1.0,1.0,0.0
59999,5,1602092048,0.0,0,NaN,1.0,3,NaN,1.0,1.0,0,16.0,42259169,b2d6c910-88f0-3143-911f-54f07aa0392c,2,2,1602075022,"[{'civ': 20, 'clan': None, 'color': 2, 'countr...",200.0,True,2,0.0,None,None,0.0,2.0,1602075086,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0

In [370]:
df=df[df['pop'] == 200]

In [371]:
df=df.drop('pop', 1)

In [372]:
df=df[df['game_type'] == 0]

In [373]:
df=df.drop('game_type', 1)

In [374]:
df

,ending_age,finished,full_tech_tree,has_custom_content,has_password,leaderboard_id,lobby_id,lock_speed,lock_teams,map_size,map_type,match_id,match_uuid,num_players,num_slots,opened,players,ranked,rating_type,resources,rms,scenario,shared_exploration,speed,started,starting_age,team_positions,team_together,treaty_length,turbo,version,victory,victory_time,visibility
0,5,1601225257,0.0,NaN,1.0,3,NaN,1.0,1.0,0,9.0,40745268,771f9279-8792-be44-bf32-5db278f358aa,2,2,1601223368,"[{'civ': 20, 'clan': None, 'color': 2, 'countr...",True,2,0.0,None,None,0.0,2.0,1601223368,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0
1,5,1601224612,0.0,NaN,1.0,3,NaN,1.0,1.0,0,9.0,40745265,15f45199-5ce5-2247-a421-9f6cc28afa72,2,2,1601223368,"[{'civ': 2, 'clan': None, 'color': 2, 'country...",True,2,0.0,None,None,0.0,2.0,1601223368,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0
2,5,1601224747,0.0,NaN,1.0,3,NaN,1.0,1.0,0,9.0,40745258,5b9697b8-366d-8748-a967-c34722ffe377,2,2,1601223368,"[{'civ': 23, 'clan': None, 'color': 2, 'countr...",True,2,0.0,None,None,0.0,2.0,1601223368,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0
3,5,1601226856,0.0,NaN,1.0,4,NaN,1.0,1.0,2,125.0,40745193,30c01441-cba8-584f-8585-777eea38d6fd,4,4,1601223368,"[{'civ': 10, 'clan': None, 'color': 2, 'countr...",True,4,0.0,None,None,0.0,2.0,1601223368,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0
4,5,1601226257,0.0,NaN,1.0,3,NaN,1.0,1.0,0,9.0,40745189,40d77d0b-b08c-f945-883e-3fccc7b1b8a4,2,2,1601223368,"[{'civ': 23, 'clan': None, 'color': 2, 'countr...",True,2,0.0,None,None,0.0,2.0,1601223368,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59994,0,1602091465,0.0,NaN,0.0,0,1.097752e+17,1.0,1.0,3,141.0,42258793,d62be938-2a18-874c-aa4f-309c2226d169,6,6,1602074791,"[{'civ': 28, 'clan': None, 'color': 3, 'countr...",False,0,0.0,None,None,0.0,2.0,1602075071,0,0.0,1.0,0,0.0,40874.0,1.0,1.0,0.0
59996,5,1602076991,0.0,NaN,1.0,3,NaN,1.0,1.0,0,87.0,42259214,a5247657-5067-3c47-96f0-0dc3a834063d,2,2,1602075042,"[{'civ': 11, 'clan': None, 'color': 2, 'countr...",True,2,0.0,None,None,0.0,2.0,1602075076,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0
59997,5,1602077785,0.0,NaN,1.0,4,NaN,1.0,1.0,4,12.0,42259207,441f5659-fb65-f649-b758-97bf52745f75,8,8,1602075042,"[{'civ': 21, 'clan': None, 'color': 4, 'countr...",True,4,0.0,None,None,0.0,2.0,1602075086,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,1.0
59998,0,1602078302,0.0,NaN,0.0,0,NaN,1.0,1.0,4,33.0,42259146,87e106dc-f63f-4943-8b91-14913dd19bf2,8,8,1602075001,"[{'civ': 34, 'clan': None, 'color': 7, 'countr...",False,0,0.0,None,None,0.0,2.0,1602075086,0,0.0,1.0,0,0.0,40874.0,1.0,1.0,0.0
59999,5,1602092048,0.0,NaN,1.0,3,NaN,1.0,1.0,0,16.0,42259169,b2d6c910-88f0-3143-911f-54f07aa0392c,2,2,1602075022,"[{'civ': 20, 'clan': None, 'color': 2, 'countr...",True,2,0.0,None,None,0.0,2.0,1602075086,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0

In [375]:
df=df.drop('has_password', 1)

In [376]:
df

,ending_age,finished,full_tech_tree,has_custom_content,leaderboard_id,lobby_id,lock_speed,lock_teams,map_size,map_type,match_id,match_uuid,num_players,num_slots,opened,players,ranked,rating_type,resources,rms,scenario,shared_exploration,speed,started,starting_age,team_positions,team_together,treaty_length,turbo,version,victory,victory_time,visibility
0,5,1601225257,0.0,NaN,3,NaN,1.0,1.0,0,9.0,40745268,771f9279-8792-be44-bf32-5db278f358aa,2,2,1601223368,"[{'civ': 20, 'clan': None, 'color': 2, 'countr...",True,2,0.0,None,None,0.0,2.0,1601223368,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0
1,5,1601224612,0.0,NaN,3,NaN,1.0,1.0,0,9.0,40745265,15f45199-5ce5-2247-a421-9f6cc28afa72,2,2,1601223368,"[{'civ': 2, 'clan': None, 'color': 2, 'country...",True,2,0.0,None,None,0.0,2.0,1601223368,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0
2,5,1601224747,0.0,NaN,3,NaN,1.0,1.0,0,9.0,40745258,5b9697b8-366d-8748-a967-c34722ffe377,2,2,1601223368,"[{'civ': 23, 'clan': None, 'color': 2, 'countr...",True,2,0.0,None,None,0.0,2.0,1601223368,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0
3,5,1601226856,0.0,NaN,4,NaN,1.0,1.0,2,125.0,40745193,30c01441-cba8-584f-8585-777eea38d6fd,4,4,1601223368,"[{'civ': 10, 'clan': None, 'color': 2, 'countr...",True,4,0.0,None,None,0.0,2.0,1601223368,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0
4,5,1601226257,0.0,NaN,3,NaN,1.0,1.0,0,9.0,40745189,40d77d0b-b08c-f945-883e-3fccc7b1b8a4,2,2,1601223368,"[{'civ': 23, 'clan': None, 'color': 2, 'countr...",True,2,0.0,None,None,0.0,2.0,1601223368,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59994,0,1602091465,0.0,NaN,0,1.097752e+17,1.0,1.0,3,141.0,42258793,d62be938-2a18-874c-aa4f-309c2226d169,6,6,1602074791,"[{'civ': 28, 'clan': None, 'color': 3, 'countr...",False,0,0.0,None,None,0.0,2.0,1602075071,0,0.0,1.0,0,0.0,40874.0,1.0,1.0,0.0
59996,5,1602076991,0.0,NaN,3,NaN,1.0,1.0,0,87.0,42259214,a5247657-5067-3c47-96f0-0dc3a834063d,2,2,1602075042,"[{'civ': 11, 'clan': None, 'color': 2, 'countr...",True,2,0.0,None,None,0.0,2.0,1602075076,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0
59997,5,1602077785,0.0,NaN,4,NaN,1.0,1.0,4,12.0,42259207,441f5659-fb65-f649-b758-97bf52745f75,8,8,1602075042,"[{'civ': 21, 'clan': None, 'color': 4, 'countr...",True,4,0.0,None,None,0.0,2.0,1602075086,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,1.0
59998,0,1602078302,0.0,NaN,0,NaN,1.0,1.0,4,33.0,42259146,87e106dc-f63f-4943-8b91-14913dd19bf2,8,8,1602075001,"[{'civ': 34, 'clan': None, 'color': 7, 'countr...",False,0,0.0,None,None,0.0,2.0,1602075086,0,0.0,1.0,0,0.0,40874.0,1.0,1.0,0.0
59999,5,1602092048,0.0,NaN,3,NaN,1.0,1.0,0,16.0,42259169,b2d6c910-88f0-3143-911f-54f07aa0392c,2,2,1602075022,"[{'civ': 20, 'clan': None, 'color': 2, 'countr...",True,2,0.0,None,None,0.0,2.0,1602075086,0,1.0,1.0,0,0.0,40874.0,1.0,0.0,0.0

In [377]:
df=df.drop('num_slots', 1)

In [378]:
df=df[df['lock_teams'] == True]

In [379]:
df=df.drop('lock_teams', 1)

In [380]:
df=df[df['ranked'] == True]

In [381]:
df=df.drop('ranked', 1)

In [382]:
df=df[df['turbo'] == False]

In [383]:
df=df.drop('turbo', 1)

In [384]:
df[df['team_together']==True]

,ending_age,finished,full_tech_tree,has_custom_content,leaderboard_id,lobby_id,lock_speed,map_size,map_type,match_id,match_uuid,num_players,opened,players,rating_type,resources,rms,scenario,shared_exploration,speed,started,starting_age,team_positions,team_together,treaty_length,version,victory,victory_time,visibility
0,5,1601225257,0.0,NaN,3,NaN,1.0,0,9.0,40745268,771f9279-8792-be44-bf32-5db278f358aa,2,1601223368,"[{'civ': 20, 'clan': None, 'color': 2, 'countr...",2,0.0,None,None,0.0,2.0,1601223368,0,1.0,1.0,0,40874.0,1.0,0.0,0.0
1,5,1601224612,0.0,NaN,3,NaN,1.0,0,9.0,40745265,15f45199-5ce5-2247-a421-9f6cc28afa72,2,1601223368,"[{'civ': 2, 'clan': None, 'color': 2, 'country...",2,0.0,None,None,0.0,2.0,1601223368,0,1.0,1.0,0,40874.0,1.0,0.0,0.0
2,5,1601224747,0.0,NaN,3,NaN,1.0,0,9.0,40745258,5b9697b8-366d-8748-a967-c34722ffe377,2,1601223368,"[{'civ': 23, 'clan': None, 'color': 2, 'countr...",2,0.0,None,None,0.0,2.0,1601223368,0,1.0,1.0,0,40874.0,1.0,0.0,0.0
3,5,1601226856,0.0,NaN,4,NaN,1.0,2,125.0,40745193,30c01441-cba8-584f-8585-777eea38d6fd,4,1601223368,"[{'civ': 10, 'clan': None, 'color': 2, 'countr...",4,0.0,None,None,0.0,2.0,1601223368,0,1.0,1.0,0,40874.0,1.0,0.0,0.0
4,5,1601226257,0.0,NaN,3,NaN,1.0,0,9.0,40745189,40d77d0b-b08c-f945-883e-3fccc7b1b8a4,2,1601223368,"[{'civ': 23, 'clan': None, 'color': 2, 'countr...",2,0.0,None,None,0.0,2.0,1601223368,0,1.0,1.0,0,40874.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59989,5,1602076375,0.0,NaN,3,NaN,1.0,0,29.0,42259211,fba9486f-1954-6b4f-a37f-d9b55012de9c,2,1602075042,"[{'civ': 24, 'clan': None, 'color': 2, 'countr...",2,0.0,None,None,0.0,2.0,1602075071,0,1.0,1.0,0,40874.0,1.0,0.0,0.0
59990,5,1602078892,0.0,NaN,4,NaN,1.0,4,29.0,42259160,711b0658-7607-7f4f-8155-dbcc7075d238,8,1602075016,"[{'civ': 20, 'clan': None, 'color': 4, 'countr...",4,0.0,None,None,0.0,2.0,1602075071,0,1.0,1.0,0,40874.0,1.0,0.0,0.0
59996,5,1602076991,0.0,NaN,3,NaN,1.0,0,87.0,42259214,a5247657-5067-3c47-96f0-0dc3a834063d,2,1602075042,"[{'civ': 11, 'clan': None, 'color': 2, 'countr...",2,0.0,None,None,0.0,2.0,1602075076,0,1.0,1.0,0,40874.0,1.0,0.0,0.0
59997,5,1602077785,0.0,NaN,4,NaN,1.0,4,12.0,42259207,441f5659-fb65-f649-b758-97bf52745f75,8,1602075042,"[{'civ': 21, 'clan': None, 'color': 4, 'countr...",4,0.0,None,None,0.0,2.0,1602075086,0,1.0,1.0,0,40874.0,1.0,0.0,1.0
59999,5,1602092048,0.0,NaN,3,NaN,1.0,0,16.0,42259169,b2d6c910-88f0-3143-911f-54f07aa0392c,2,1602075022,"[{'civ': 20, 'clan': None, 'color': 2, 'countr...",2,0.0,None,None,0.0,2.0,1602075086,0,1.0,1.0,0,40874.0,1.0,0.0,0.0

In [385]:
df=df[df['team_positions']==True]

In [386]:
df=df.drop('team_positions', 1)

In [387]:
df=df[df['team_together']==True]

In [388]:
df=df.drop('team_together', 1)

In [389]:
df=df[df['lock_speed']==True]

In [390]:
df.drop('lock_speed', 1)

,ending_age,finished,full_tech_tree,has_custom_content,leaderboard_id,lobby_id,map_size,map_type,match_id,match_uuid,num_players,opened,players,rating_type,resources,rms,scenario,shared_exploration,speed,started,starting_age,treaty_length,version,victory,victory_time,visibility
0,5,1601225257,0.0,NaN,3,NaN,0,9.0,40745268,771f9279-8792-be44-bf32-5db278f358aa,2,1601223368,"[{'civ': 20, 'clan': None, 'color': 2, 'countr...",2,0.0,None,None,0.0,2.0,1601223368,0,0,40874.0,1.0,0.0,0.0
1,5,1601224612,0.0,NaN,3,NaN,0,9.0,40745265,15f45199-5ce5-2247-a421-9f6cc28afa72,2,1601223368,"[{'civ': 2, 'clan': None, 'color': 2, 'country...",2,0.0,None,None,0.0,2.0,1601223368,0,0,40874.0,1.0,0.0,0.0
2,5,1601224747,0.0,NaN,3,NaN,0,9.0,40745258,5b9697b8-366d-8748-a967-c34722ffe377,2,1601223368,"[{'civ': 23, 'clan': None, 'color': 2, 'countr...",2,0.0,None,None,0.0,2.0,1601223368,0,0,40874.0,1.0,0.0,0.0
3,5,1601226856,0.0,NaN,4,NaN,2,125.0,40745193,30c01441-cba8-584f-8585-777eea38d6fd,4,1601223368,"[{'civ': 10, 'clan': None, 'color': 2, 'countr...",4,0.0,None,None,0.0,2.0,1601223368,0,0,40874.0,1.0,0.0,0.0
4,5,1601226257,0.0,NaN,3,NaN,0,9.0,40745189,40d77d0b-b08c-f945-883e-3fccc7b1b8a4,2,1601223368,"[{'civ': 23, 'clan': None, 'color': 2, 'countr...",2,0.0,None,None,0.0,2.0,1601223368,0,0,40874.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59989,5,1602076375,0.0,NaN,3,NaN,0,29.0,42259211,fba9486f-1954-6b4f-a37f-d9b55012de9c,2,1602075042,"[{'civ': 24, 'clan': None, 'color': 2, 'countr...",2,0.0,None,None,0.0,2.0,1602075071,0,0,40874.0,1.0,0.0,0.0
59990,5,1602078892,0.0,NaN,4,NaN,4,29.0,42259160,711b0658-7607-7f4f-8155-dbcc7075d238,8,1602075016,"[{'civ': 20, 'clan': None, 'color': 4, 'countr...",4,0.0,None,None,0.0,2.0,1602075071,0,0,40874.0,1.0,0.0,0.0
59996,5,1602076991,0.0,NaN,3,NaN,0,87.0,42259214,a5247657-5067-3c47-96f0-0dc3a834063d,2,1602075042,"[{'civ': 11, 'clan': None, 'color': 2, 'countr...",2,0.0,None,None,0.0,2.0,1602075076,0,0,40874.0,1.0,0.0,0.0
59997,5,1602077785,0.0,NaN,4,NaN,4,12.0,42259207,441f5659-fb65-f649-b758-97bf52745f75,8,1602075042,"[{'civ': 21, 'clan': None, 'color': 4, 'countr...",4,0.0,None,None,0.0,2.0,1602075086,0,0,40874.0,1.0,0.0,1.0
59999,5,1602092048,0.0,NaN,3,NaN,0,16.0,42259169,b2d6c910-88f0-3143-911f-54f07aa0392c,2,1602075022,"[{'civ': 20, 'clan': None, 'color': 2, 'countr...",2,0.0,None,None,0.0,2.0,1602075086,0,0,40874.0,1.0,0.0,0.0

In [391]:
df=df.drop('starting_age', 1)

df=df.drop('ending_age', 1)

df=df[df['full_tech_tree']==False]

df=df.drop('full_tech_tree', 1)

df=df.drop('has_custom_content', 1)

df=df[df['lock_speed']==True]

df=df.drop('lock_speed', 1)

df=df[df['speed']==2]

df=df.drop('speed', 1)

df=df.drop('version', 1)

df=df.drop('rms', 1)

df=df.drop('treaty_length', 1)

df=df[df['victory_time']==0]

df=df.drop('victory_time', 1)

In [405]:
df.drop('visibility', 1)

,finished,leaderboard_id,lobby_id,map_size,map_type,match_id,match_uuid,num_players,opened,players,rating_type,resources,scenario,shared_exploration,started,victory
0,1601225257,3,NaN,0,9.0,40745268,771f9279-8792-be44-bf32-5db278f358aa,2,1601223368,"[{'civ': 20, 'clan': None, 'color': 2, 'countr...",2,0.0,None,0.0,1601223368,1.0
1,1601224612,3,NaN,0,9.0,40745265,15f45199-5ce5-2247-a421-9f6cc28afa72,2,1601223368,"[{'civ': 2, 'clan': None, 'color': 2, 'country...",2,0.0,None,0.0,1601223368,1.0
2,1601224747,3,NaN,0,9.0,40745258,5b9697b8-366d-8748-a967-c34722ffe377,2,1601223368,"[{'civ': 23, 'clan': None, 'color': 2, 'countr...",2,0.0,None,0.0,1601223368,1.0
3,1601226856,4,NaN,2,125.0,40745193,30c01441-cba8-584f-8585-777eea38d6fd,4,1601223368,"[{'civ': 10, 'clan': None, 'color': 2, 'countr...",4,0.0,None,0.0,1601223368,1.0
4,1601226257,3,NaN,0,9.0,40745189,40d77d0b-b08c-f945-883e-3fccc7b1b8a4,2,1601223368,"[{'civ': 23, 'clan': None, 'color': 2, 'countr...",2,0.0,None,0.0,1601223368,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59989,1602076375,3,NaN,0,29.0,42259211,fba9486f-1954-6b4f-a37f-d9b55012de9c,2,1602075042,"[{'civ': 24, 'clan': None, 'color': 2, 'countr...",2,0.0,None,0.0,1602075071,1.0
59990,1602078892,4,NaN,4,29.0,42259160,711b0658-7607-7f4f-8155-dbcc7075d238,8,1602075016,"[{'civ': 20, 'clan': None, 'color': 4, 'countr...",4,0.0,None,0.0,1602075071,1.0
59996,1602076991,3,NaN,0,87.0,42259214,a5247657-5067-3c47-96f0-0dc3a834063d,2,1602075042,"[{'civ': 11, 'clan': None, 'color': 2, 'countr...",2,0.0,None,0.0,1602075076,1.0
59997,1602077785,4,NaN,4,12.0,42259207,441f5659-fb65-f649-b758-97bf52745f75,8,1602075042,"[{'civ': 21, 'clan': None, 'color': 4, 'countr...",4,0.0,None,0.0,1602075086,1.0
59999,1602092048,3,NaN,0,16.0,42259169,b2d6c910-88f0-3143-911f-54f07aa0392c,2,1602075022,"[{'civ': 20, 'clan': None, 'color': 2, 'countr...",2,0.0,None,0.0,1602075086,1.0

In [406]:
df.columns

Index(['finished', 'leaderboard_id', 'lobby_id', 'map_size', 'map_type',
       'match_id', 'match_uuid', 'num_players', 'opened', 'players',
       'rating_type', 'resources', 'scenario', 'shared_exploration', 'started',
       'victory', 'visibility'],
      dtype='object')

In [407]:
df=df.drop('scenario', 1)

In [408]:
df.columns

Index(['finished', 'leaderboard_id', 'lobby_id', 'map_size', 'map_type',
       'match_id', 'match_uuid', 'num_players', 'opened', 'players',
       'rating_type', 'resources', 'shared_exploration', 'started', 'victory',
       'visibility'],
      dtype='object')

In [409]:
df    #rating_type mudar de 2 para 0 e de 4 para 1

,finished,leaderboard_id,lobby_id,map_size,map_type,match_id,match_uuid,num_players,opened,players,rating_type,resources,shared_exploration,started,victory,visibility
0,1601225257,3,NaN,0,9.0,40745268,771f9279-8792-be44-bf32-5db278f358aa,2,1601223368,"[{'civ': 20, 'clan': None, 'color': 2, 'countr...",2,0.0,0.0,1601223368,1.0,0.0
1,1601224612,3,NaN,0,9.0,40745265,15f45199-5ce5-2247-a421-9f6cc28afa72,2,1601223368,"[{'civ': 2, 'clan': None, 'color': 2, 'country...",2,0.0,0.0,1601223368,1.0,0.0
2,1601224747,3,NaN,0,9.0,40745258,5b9697b8-366d-8748-a967-c34722ffe377,2,1601223368,"[{'civ': 23, 'clan': None, 'color': 2, 'countr...",2,0.0,0.0,1601223368,1.0,0.0
3,1601226856,4,NaN,2,125.0,40745193,30c01441-cba8-584f-8585-777eea38d6fd,4,1601223368,"[{'civ': 10, 'clan': None, 'color': 2, 'countr...",4,0.0,0.0,1601223368,1.0,0.0
4,1601226257,3,NaN,0,9.0,40745189,40d77d0b-b08c-f945-883e-3fccc7b1b8a4,2,1601223368,"[{'civ': 23, 'clan': None, 'color': 2, 'countr...",2,0.0,0.0,1601223368,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59989,1602076375,3,NaN,0,29.0,42259211,fba9486f-1954-6b4f-a37f-d9b55012de9c,2,1602075042,"[{'civ': 24, 'clan': None, 'color': 2, 'countr...",2,0.0,0.0,1602075071,1.0,0.0
59990,1602078892,4,NaN,4,29.0,42259160,711b0658-7607-7f4f-8155-dbcc7075d238,8,1602075016,"[{'civ': 20, 'clan': None, 'color': 4, 'countr...",4,0.0,0.0,1602075071,1.0,0.0
59996,1602076991,3,NaN,0,87.0,42259214,a5247657-5067-3c47-96f0-0dc3a834063d,2,1602075042,"[{'civ': 11, 'clan': None, 'color': 2, 'countr...",2,0.0,0.0,1602075076,1.0,0.0
59997,1602077785,4,NaN,4,12.0,42259207,441f5659-fb65-f649-b758-97bf52745f75,8,1602075042,"[{'civ': 21, 'clan': None, 'color': 4, 'countr...",4,0.0,0.0,1602075086,1.0,1.0
59999,1602092048,3,NaN,0,16.0,42259169,b2d6c910-88f0-3143-911f-54f07aa0392c,2,1602075022,"[{'civ': 20, 'clan': None, 'color': 2, 'countr...",2,0.0,0.0,1602075086,1.0,0.0

In [410]:
df=df.drop('opened', 1)

In [411]:
df['duration']=((df['finished'] - df['started'])/60)

In [412]:
df

,finished,leaderboard_id,lobby_id,map_size,map_type,match_id,match_uuid,num_players,players,rating_type,resources,shared_exploration,started,victory,visibility,duration
0,1601225257,3,NaN,0,9.0,40745268,771f9279-8792-be44-bf32-5db278f358aa,2,"[{'civ': 20, 'clan': None, 'color': 2, 'countr...",2,0.0,0.0,1601223368,1.0,0.0,31.483333
1,1601224612,3,NaN,0,9.0,40745265,15f45199-5ce5-2247-a421-9f6cc28afa72,2,"[{'civ': 2, 'clan': None, 'color': 2, 'country...",2,0.0,0.0,1601223368,1.0,0.0,20.733333
2,1601224747,3,NaN,0,9.0,40745258,5b9697b8-366d-8748-a967-c34722ffe377,2,"[{'civ': 23, 'clan': None, 'color': 2, 'countr...",2,0.0,0.0,1601223368,1.0,0.0,22.983333
3,1601226856,4,NaN,2,125.0,40745193,30c01441-cba8-584f-8585-777eea38d6fd,4,"[{'civ': 10, 'clan': None, 'color': 2, 'countr...",4,0.0,0.0,1601223368,1.0,0.0,58.133333
4,1601226257,3,NaN,0,9.0,40745189,40d77d0b-b08c-f945-883e-3fccc7b1b8a4,2,"[{'civ': 23, 'clan': None, 'color': 2, 'countr...",2,0.0,0.0,1601223368,1.0,0.0,48.150000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59989,1602076375,3,NaN,0,29.0,42259211,fba9486f-1954-6b4f-a37f-d9b55012de9c,2,"[{'civ': 24, 'clan': None, 'color': 2, 'countr...",2,0.0,0.0,1602075071,1.0,0.0,21.733333
59990,1602078892,4,NaN,4,29.0,42259160,711b0658-7607-7f4f-8155-dbcc7075d238,8,"[{'civ': 20, 'clan': None, 'color': 4, 'countr...",4,0.0,0.0,1602075071,1.0,0.0,63.683333
59996,1602076991,3,NaN,0,87.0,42259214,a5247657-5067-3c47-96f0-0dc3a834063d,2,"[{'civ': 11, 'clan': None, 'color': 2, 'countr...",2,0.0,0.0,1602075076,1.0,0.0,31.916667
59997,1602077785,4,NaN,4,12.0,42259207,441f5659-fb65-f649-b758-97bf52745f75,8,"[{'civ': 21, 'clan': None, 'color': 4, 'countr...",4,0.0,0.0,1602075086,1.0,1.0,44.983333
59999,1602092048,3,NaN,0,16.0,42259169,b2d6c910-88f0-3143-911f-54f07aa0392c,2,"[{'civ': 20, 'clan': None, 'color': 2, 'countr...",2,0.0,0.0,1602075086,1.0,0.0,282.700000

In [413]:
df=df.drop('started', 1)
df=df.drop('finished', 1)

In [414]:
df

,leaderboard_id,lobby_id,map_size,map_type,match_id,match_uuid,num_players,players,rating_type,resources,shared_exploration,victory,visibility,duration
0,3,NaN,0,9.0,40745268,771f9279-8792-be44-bf32-5db278f358aa,2,"[{'civ': 20, 'clan': None, 'color': 2, 'countr...",2,0.0,0.0,1.0,0.0,31.483333
1,3,NaN,0,9.0,40745265,15f45199-5ce5-2247-a421-9f6cc28afa72,2,"[{'civ': 2, 'clan': None, 'color': 2, 'country...",2,0.0,0.0,1.0,0.0,20.733333
2,3,NaN,0,9.0,40745258,5b9697b8-366d-8748-a967-c34722ffe377,2,"[{'civ': 23, 'clan': None, 'color': 2, 'countr...",2,0.0,0.0,1.0,0.0,22.983333
3,4,NaN,2,125.0,40745193,30c01441-cba8-584f-8585-777eea38d6fd,4,"[{'civ': 10, 'clan': None, 'color': 2, 'countr...",4,0.0,0.0,1.0,0.0,58.133333
4,3,NaN,0,9.0,40745189,40d77d0b-b08c-f945-883e-3fccc7b1b8a4,2,"[{'civ': 23, 'clan': None, 'color': 2, 'countr...",2,0.0,0.0,1.0,0.0,48.150000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59989,3,NaN,0,29.0,42259211,fba9486f-1954-6b4f-a37f-d9b55012de9c,2,"[{'civ': 24, 'clan': None, 'color': 2, 'countr...",2,0.0,0.0,1.0,0.0,21.733333
59990,4,NaN,4,29.0,42259160,711b0658-7607-7f4f-8155-dbcc7075d238,8,"[{'civ': 20, 'clan': None, 'color': 4, 'countr...",4,0.0,0.0,1.0,0.0,63.683333
59996,3,NaN,0,87.0,42259214,a5247657-5067-3c47-96f0-0dc3a834063d,2,"[{'civ': 11, 'clan': None, 'color': 2, 'countr...",2,0.0,0.0,1.0,0.0,31.916667
59997,4,NaN,4,12.0,42259207,441f5659-fb65-f649-b758-97bf52745f75,8,"[{'civ': 21, 'clan': None, 'color': 4, 'countr...",4,0.0,0.0,1.0,1.0,44.983333
59999,3,NaN,0,16.0,42259169,b2d6c910-88f0-3143-911f-54f07aa0392c,2,"[{'civ': 20, 'clan': None, 'color': 2, 'countr...",2,0.0,0.0,1.0,0.0,282.700000

In [415]:
df=df.drop('resources', 1)

In [416]:
df=df.drop('shared_exploration', 1)

In [417]:
df

,leaderboard_id,lobby_id,map_size,map_type,match_id,match_uuid,num_players,players,rating_type,victory,visibility,duration
0,3,NaN,0,9.0,40745268,771f9279-8792-be44-bf32-5db278f358aa,2,"[{'civ': 20, 'clan': None, 'color': 2, 'countr...",2,1.0,0.0,31.483333
1,3,NaN,0,9.0,40745265,15f45199-5ce5-2247-a421-9f6cc28afa72,2,"[{'civ': 2, 'clan': None, 'color': 2, 'country...",2,1.0,0.0,20.733333
2,3,NaN,0,9.0,40745258,5b9697b8-366d-8748-a967-c34722ffe377,2,"[{'civ': 23, 'clan': None, 'color': 2, 'countr...",2,1.0,0.0,22.983333
3,4,NaN,2,125.0,40745193,30c01441-cba8-584f-8585-777eea38d6fd,4,"[{'civ': 10, 'clan': None, 'color': 2, 'countr...",4,1.0,0.0,58.133333
4,3,NaN,0,9.0,40745189,40d77d0b-b08c-f945-883e-3fccc7b1b8a4,2,"[{'civ': 23, 'clan': None, 'color': 2, 'countr...",2,1.0,0.0,48.150000
...,...,...,...,...,...,...,...,...,...,...,...,...
59989,3,NaN,0,29.0,42259211,fba9486f-1954-6b4f-a37f-d9b55012de9c,2,"[{'civ': 24, 'clan': None, 'color': 2, 'countr...",2,1.0,0.0,21.733333
59990,4,NaN,4,29.0,42259160,711b0658-7607-7f4f-8155-dbcc7075d238,8,"[{'civ': 20, 'clan': None, 'color': 4, 'countr...",4,1.0,0.0,63.683333
59996,3,NaN,0,87.0,42259214,a5247657-5067-3c47-96f0-0dc3a834063d,2,"[{'civ': 11, 'clan': None, 'color': 2, 'countr...",2,1.0,0.0,31.916667
59997,4,NaN,4,12.0,42259207,441f5659-fb65-f649-b758-97bf52745f75,8,"[{'civ': 21, 'clan': None, 'color': 4, 'countr...",4,1.0,1.0,44.983333
59999,3,NaN,0,16.0,42259169,b2d6c910-88f0-3143-911f-54f07aa0392c,2,"[{'civ': 20, 'clan': None, 'color': 2, 'countr...",2,1.0,0.0,282.700000

In [418]:
df=df.drop('victory', 1)

In [419]:
df=df.drop('leaderboard_id', 1)

In [420]:
df

,lobby_id,map_size,map_type,match_id,match_uuid,num_players,players,rating_type,visibility,duration
0,NaN,0,9.0,40745268,771f9279-8792-be44-bf32-5db278f358aa,2,"[{'civ': 20, 'clan': None, 'color': 2, 'countr...",2,0.0,31.483333
1,NaN,0,9.0,40745265,15f45199-5ce5-2247-a421-9f6cc28afa72,2,"[{'civ': 2, 'clan': None, 'color': 2, 'country...",2,0.0,20.733333
2,NaN,0,9.0,40745258,5b9697b8-366d-8748-a967-c34722ffe377,2,"[{'civ': 23, 'clan': None, 'color': 2, 'countr...",2,0.0,22.983333
3,NaN,2,125.0,40745193,30c01441-cba8-584f-8585-777eea38d6fd,4,"[{'civ': 10, 'clan': None, 'color': 2, 'countr...",4,0.0,58.133333
4,NaN,0,9.0,40745189,40d77d0b-b08c-f945-883e-3fccc7b1b8a4,2,"[{'civ': 23, 'clan': None, 'color': 2, 'countr...",2,0.0,48.150000
...,...,...,...,...,...,...,...,...,...,...
59989,NaN,0,29.0,42259211,fba9486f-1954-6b4f-a37f-d9b55012de9c,2,"[{'civ': 24, 'clan': None, 'color': 2, 'countr...",2,0.0,21.733333
59990,NaN,4,29.0,42259160,711b0658-7607-7f4f-8155-dbcc7075d238,8,"[{'civ': 20, 'clan': None, 'color': 4, 'countr...",4,0.0,63.683333
59996,NaN,0,87.0,42259214,a5247657-5067-3c47-96f0-0dc3a834063d,2,"[{'civ': 11, 'clan': None, 'color': 2, 'countr...",2,0.0,31.916667
59997,NaN,4,12.0,42259207,441f5659-fb65-f649-b758-97bf52745f75,8,"[{'civ': 21, 'clan': None, 'color': 4, 'countr...",4,1.0,44.983333
59999,NaN,0,16.0,42259169,b2d6c910-88f0-3143-911f-54f07aa0392c,2,"[{'civ': 20, 'clan': None, 'color': 2, 'countr...",2,0.0,282.700000

In [422]:
df['rating_type']=df['rating_type']

In [423]:
df=df.drop('lobby_id', 1)

In [424]:
df

,map_size,map_type,match_id,match_uuid,num_players,players,rating_type,visibility,duration
0,0,9.0,40745268,771f9279-8792-be44-bf32-5db278f358aa,2,"[{'civ': 20, 'clan': None, 'color': 2, 'countr...",2,0.0,31.483333
1,0,9.0,40745265,15f45199-5ce5-2247-a421-9f6cc28afa72,2,"[{'civ': 2, 'clan': None, 'color': 2, 'country...",2,0.0,20.733333
2,0,9.0,40745258,5b9697b8-366d-8748-a967-c34722ffe377,2,"[{'civ': 23, 'clan': None, 'color': 2, 'countr...",2,0.0,22.983333
3,2,125.0,40745193,30c01441-cba8-584f-8585-777eea38d6fd,4,"[{'civ': 10, 'clan': None, 'color': 2, 'countr...",4,0.0,58.133333
4,0,9.0,40745189,40d77d0b-b08c-f945-883e-3fccc7b1b8a4,2,"[{'civ': 23, 'clan': None, 'color': 2, 'countr...",2,0.0,48.150000
...,...,...,...,...,...,...,...,...,...
59989,0,29.0,42259211,fba9486f-1954-6b4f-a37f-d9b55012de9c,2,"[{'civ': 24, 'clan': None, 'color': 2, 'countr...",2,0.0,21.733333
59990,4,29.0,42259160,711b0658-7607-7f4f-8155-dbcc7075d238,8,"[{'civ': 20, 'clan': None, 'color': 4, 'countr...",4,0.0,63.683333
59996,0,87.0,42259214,a5247657-5067-3c47-96f0-0dc3a834063d,2,"[{'civ': 11, 'clan': None, 'color': 2, 'countr...",2,0.0,31.916667
59997,4,12.0,42259207,441f5659-fb65-f649-b758-97bf52745f75,8,"[{'civ': 21, 'clan': None, 'color': 4, 'countr...",4,1.0,44.983333
59999,0,16.0,42259169,b2d6c910-88f0-3143-911f-54f07aa0392c,2,"[{'civ': 20, 'clan': None, 'color': 2, 'countr...",2,0.0,282.700000

In [425]:
df.columns

Index(['map_size', 'map_type', 'match_id', 'match_uuid', 'num_players',
       'players', 'rating_type', 'visibility', 'duration'],
      dtype='object')

In [426]:
df.to_csv("matches_dataset.csv")